
body,h1,h2,h3,h4,h5,h6{
	font-family: "Lato", sans-serif;
}

body{
	
	margin: 0px;
	font-size: 15px;
    line-height: 1.5;
}
.top-navbar{
	background-color: #f44336;
	
	
}
a{
	
	text-decoration: none;
	color: white;
	
	font-size: 20px;
	vertical-align: middle;
	overflow: hidden;
	line-height: 2.44em;
	padding: 12px 24px!important;

}


a:hover{
		background-color: white;
		color: black;
		height: auto;
	}


.home-link{
	background-color: white;
	color: black!important;
}

.home-link:hover{
	background-color: #ccc;
}
hr{
	
	padding: 0px;
	margin:0px;
	
	}
header{
	margin-top: 0px!important;
	text-align: center;
	color: white;
	background-color: red;
}
.header-ttl{
	margin-top: 0px;
	padding-top: 100px;
	font-size: 45px;
	font-family: "Montserrat", sans-serif;
	font-weight: 400;


}
.header-txt{
	padding: 20px;
	font-size: 20px;
	font-family: "Lato", sans-serif;
	
}
.header-btn{
	background-color: black;
	color: white;
	padding: 20px;
	font-family: "Lato", sans-serif;
	font-size: 18px;
	margin-bottom: 100px;
	border: 1px solid white;
	border-radius: 5px;
	width: 150px;
	

}
.header-btn:hover{
	background-color:#ccc;
	color: black;
}

.body-1{
	display: table;
	grid-template-columns: 50% 30%;
	
	padding: 20px;
}

.body-2{
	display: table;
	grid-template-columns: 33% 66%;
	
	background-color: #f1f1f1;
}

.two-third{
	width: 55%;
	float: left;
	margin-left: 150px;

}

.one-third{
	width: 25%;
	float: left;
}
.body1-p-ttl{

	font-family: sans-serif;
	font-size: 36px;
	line-height: 1.5;
	
}
.body1-p-bold{
	font-family: "Lato", sans-serif;
	font-size: 18px;
	font-weight: 400;
}

.icon-1{
	display: inline-block;
	padding-left: 80px;
	font-size: 200px;
	color: red;
	padding-top: 100px;

}
.icon-2{
	display: inline-block;
	padding-left: 160px;
	font-size: 200px;
	color: red;
	padding-top: 100px;
	
	text-align: center;
}
.body1-p-faint{
	color: #757575;
	font-family: "Lato", sans-serif;
	font-size: 15px;
	line-height: 1.5;
}

.quote{
	margin:0px; 
	padding: 100px 300px;
	text-align: center;
	color: white;
	background-color: darkgrey;
	font-size: 24px;
}

footer{
	color: black;
    background-color: #f1f1f1!important;
	text-align: center;
	font-size: 24px;
	padding: 5px 0px;
	margin: 0px;
	}
footer .fab{
	color: black;
	padding: 0px;
}

.social-m{
	padding: 0px!important;
	margin-left: 2px!important;
	font-size: 24px;
}
.pwd-by{

	padding: 0px!important;
	margin-left: 2px!important;
	color: black;
	text-decoration:underline; 
	font-family: "Lato", sans-serif;
	font-size: 15px;
	line-height: 1.5;
}

